body {
    background: black;
    margin: 0;
    user-select: none;
    background: #101f18;
    transition: ease-in-out 1s;
}

.gameBackground {
    background: black;
}


#startTitle {
    color: white;
    width: 10%;
    margin-left: 45%;
    text-align: center;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#ayumu{
        width: 50%;
    position: absolute;
    left: 12.5%;
        top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#chimpOverlay article img {
    position: absolute;
    height:30%;
    width: 50%;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

#jungleTopLeft {
    top: 0;
    left: 0;
    transform: scaleX(-1);

}

#jungleTopRight {
    top: 0;
    right: 0;
}

#jungleBottomLeft {
    bottom: 0;
    left: 0;
    transform: scaleX(-1);
}

#jungleBottomRight {
    bottom: 0;
    right: 0;
}


#gameTiles {
    width: 80%;
    margin-left: 10%;
    display: none;
}

#gameTiles article {
    width: 100%;
    font-size: 0;
    margin-bottom: 2.5%;
}

#overlay {
    position: absolute;
    width: 100%;
    text-align: center;
    z-index: 2;
    display: none;
}

#overlay {
    position: absolute;
    width: 100%;
    text-align: center;
    z-index: 2;
}


#overlayTitle {
    color: white;
    width: 10%;
    margin-left: 45%;
}


#playButton {
    background: cyan;
    width: 10%;
    cursor: pointer;
    margin-left: 45%;
}

.#playButton:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

#countdown {
    width: 20%;
    margin-left: 40%;
    display: none;
    color: white;
    font-size: 30vw;
    margin-top: 10%;
}

.tile {
    z-index: 1;
    width: 10%;
    margin-right: 2.5%;
    display: inline-block;
    color: white;
    position: relative;
}

.tile:last-child {
    margin-right: 0%;
}



.tile:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.content {
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 5vw;
    text-align: center;
    padding-left: 8%;
    padding-top: 8%;
    cursor: default;
}


.content::before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
    /* Adjusts for spacing */
}

.whiteTile {
    background: white;
    cursor: pointer;
}


/* Animations */

.jungleTopRightAnimation{
   animation-name: moveTopRight;
}
.jungleBottomRightAnimation{
   animation-name: moveBottomRight;
}
.jungleTopLeftAnimation{
   animation-name: moveTopLeft;
}
.jungleBottomLeftAnimation{
   animation-name: moveBottomLeft;
}


@keyframes moveTopRight {
  0%   {top:0; right:0px;}
  100% {top:-30%; right:-50%;}
}
@keyframes moveTopLeft {
  0%   {top:0; left:0px;}
  100% {top:-30%; left:-50%;}
}
@keyframes moveBottomRight {
  0%   {bottom:0; right:0px;}
  100% {bottom:-30%; right:-50%;}
}
@keyframes moveBottomLeft {
  0%   {bottom:0; left:0px;}
  100% {bottom:-30%; left:-50%;}
}
