body {
    background-color: #C8E1A9;
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
}


.header {
    height: 100%;
    background-image: url(../img/rainforest.jpg);
    /* opacity: 0.7; */
    filter: blur(2px);
    background-size: cover;
    background-position: center;
    background-repeat: repeat-x;
    padding: 0px;
    margin: 0px;
    position: relative;
}

.project-section, .game-section, .process-section, .team-section {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}

.project-section {
    padding-top: 10px;
/*    background-image: url("../img/TL1.png");*/
     background-color: rgba(61, 90, 67, 1); 
}

.game-section {
    padding-top: 10px;
    /* background-color: rgba(61, 90, 67, 0.6); */
}

.process-section {
    padding-top: 10px;
/*    background-color: rgba(61, 90, 67, 0.4);*/
    background: rgba(61, 90, 67, 1);
}

.team-section {
/*    height: 700px;*/
    /* background-color: rgba(61, 90, 67, 0.6); */
/*    margin-top: 50px;*/
    background-color: #C8E1A9;
}

.wrapper-project {
    display: grid;
    /* background: rgba(61, 90, 67, 0.6); */
    padding: 1em 5em 3em 5em;
    grid-template-columns: 47% 47%;
    grid-column-gap: 4%;
    grid-row-gap: 10%;
    width: 1050px;   
}

.wrapper-game {
    display: grid;
    grid-template-columns: 100%;
    width: 80%;  
}


.wrapper-process {
    display: grid;
    /* background:  rgba(61, 90, 67, 0.6); */
    background: #C8E1A9;
    padding: 1em 5em 3em 5em;
    grid-template-columns: 45% 8% 45%;
    grid-column-gap: 1em;
    width: 100%;
}


.wrapper-footer {
    display: grid;
    /* background: rgba(61, 90, 67, 0.6); */
    padding: 1em 5em 3em 5em;
    grid-template-columns: 19% 19% 19% 19% 19%;
    grid-column-gap: 1%;
    width: 100%;
    height: 400px;
}


.project-descriptions {
    background: white;
    padding: 20px;
    border-radius: 4px;
}

img {
    max-width: 100%;
}

#game-img {
    width: 60%;
    height: 400px;
    margin-top: 30px;
}

#game {
    width: 100%;
}

.click-here {
/*    width: 100%;*/
/*    text-align: center;*/
    margin: 0px;
/*    color: rgba(61, 90, 67, 0.6);*/
    color: black;
}

.click-here:hover {
    color: rgba(61, 90, 67, 1);
}

.linkedin {
    min-width: 21px;
    width: 15%;
    margin-top: 0px;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.v-space {
    height: 50px;
    width: 100%;
}

.navbar {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background: rgba(61, 90, 67, 0);
    width: 100%;
    height: 50px;
    z-index: 3;
}

.nav {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 15px;
    color: #fff;
}


a {
    margin: 15px;
    color: #fff;
    text-decoration: none;
/*    text-transform: uppercase;   */
    font-family: Trebuchet MS, Arial, Helvetica, sans-serif 
}

a:hover {
    color: #000;
}

p {
    margin: 5px;
    font-size: 12px;
    color: #303E2B;
    text-decoration: none; 
    text-align: center;
    font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
}


h2 {
    font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
    font-size: 60px;
    font-weight: normal;
    text-align: center;
    color: #303E2B;
    margin-top: 50px;
    text-shadow: 2px 2px 10px rgba(61, 90, 67, 1);
}

h3 {
    font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: normal;
    text-align: center;
    color: #303E2B;
}

h4 {
    font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: normal;
    text-align: left;
    color: #303E2B;
    margin-bottom: 0px;
    margin-top: 0px;
/*    text-transform: uppercase;*/
}

.description {
/*    color: red;*/
    font-size: 16px;
    font-family: Trebuchet MS;
    line-height: normal;
}

.white-title {
    color: white;
    text-shadow: 2px 2px 10px black;
}

html {
    scroll-behavior: smooth;
}

.scrolling-active {
    background-color: rgba(61, 90, 67, 1);;
    box-shadow: 0 3px 1rem rgba(0, 0, 0, 1);
}

#ideating, #evaluating, #prototyping {
    margin-top: 170px;
}

#defining {
    margin-top: 360px;
}

#empathizing {
    margin-top: 25px;
    /* background-color: #eee; */
    padding: 10px;
}

#defining, #ideating, #evaluating, #prototyping {
    /* background-color: #eee; */
    padding: 10px;
}


#credit {
    margin-bottom: 10px;
}
