:root {
  --background-green: rgba(61, 90, 67, 1);
    --dust-green: rgba(213, 227, 216, 0.8);
}

@font-face {
  font-family: DancingJungle;
  src: url(../fonts/DancingJungle.ttf);
}

body {
    background-color: var(--background-green);
    background-image: url(../img/maze-black.png);
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    justify-content: center;
    align-items: center;
    position: absolute;
}


.header {
    height: 100%;
    background-image: 
        url(../img/chimphanging.png), 
        url(../img/logo.png),
        url(../img/Leaves/top-left.png), 
        url(../img/Leaves/top-right.png);
    background-position: 
        right top, 
        center center,
        left top, 
        right top;
    background-repeat: 
        no-repeat,
        no-repeat, 
        no-repeat, 
        no-repeat; 
    background-size: 
        26%, 
        38%,
        contain,
        contain;
    padding: 0px;
    margin: 0px;
    position: relative;
    height: 100%;
}

.project-section, .game-section, .process-section, .team-section {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}

.project-section {
    padding-top: 10px;
    width: 100%;
    background-image: 
        url(../img/Leaves/side-left2.png), url(../img/Leaves/side-right3.png); 
    background-position: 
        left top, 
        right bottom;
    background-repeat: 
        no-repeat, 
        no-repeat;
    background-size: contain;  
    }

.game-section {
    padding-top: 10px;
    background-image: 
        url(../img/Leaves/side-left4.png), url(../img/Leaves/side-right5.png);
    background-position: 
        left bottom, 
        right bottom;
    background-repeat: 
        no-repeat, 
        no-repeat;
    background-size: 
        380px, 
        400px;
}

.process-section {
    padding-top: 10px;
    background-image: 
        url(../img/Leaves/leaves-left.png), url(../img/Leaves/leaves-right.png); 
    background-position: 
        left top, 
        right top;
    background-repeat: 
        no-repeat, 
        no-repeat; 
}

.team-section {
    background-image: 
        url(../img/Leaves/bottom-left.png), url(../img/Leaves/bottom-right.png);
    background-position: 
        left bottom, 
        right bottom;
    background-repeat: 
        no-repeat, 
        no-repeat;
}


.wrapper-header {
    padding-top: 200px;
}

.wrapper-project {
    display: grid;
    padding: 0px;
    grid-template-columns: 48% 48%;
    grid-column-gap: 4%;
    grid-row-gap: 10%;
    width: 75%;   
}

.wrapper-game {
    display: grid;
    grid-template-columns: 100%;
    width: 75%;
    background-color: var(--dust-green);
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 3px 1rem rgba(0, 0, 0, 1);
    margin-left: auto;
    margin-right: auto;
}


.wrapper-process {
    display: grid;
    padding: 1em 5em 3em 5em;
    grid-template-columns: 45% 8% 45%;
    grid-column-gap: 1em;
    width: 100%;
}


.wrapper-team {
    display: grid;
    padding: 3em 1em 2em 1em;
    margin: 1em 3em 2em 3em;
    grid-template-columns: 19% 19% 19% 19% 19%;
    grid-column-gap: 1%;
    width: 90%;
    height: 100%;
    background: white;
    background-color: var(--dust-green);
    border-radius: 4px;
    box-shadow: 0 3px 1rem rgba(0, 0, 0, 1);
}

.wrapper-footer {
    padding: 1em;
    background-color: var(--dust-green);
    border-radius: 4px;
    box-shadow: 0 3px 1rem rgba(0, 0, 0, 1);
    margin-bottom: 30px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.project-descriptions {
    background: var(--dust-green);
    padding: 20px;
    height: 100%;
    border-radius: 4px;
    box-shadow: 0 3px 1rem rgba(0, 0, 0, 1);
}

.description-text {
    font-size: 16px;
    font-family: Trebuchet MS;
    line-height: 1.6;
    text-align: left;
}

.animation {
    width: 100%;
    justify-content: center;
    align-items: center;
}

img {
    max-width: 100%;
}


#game-img {
    width: 100%;
    height: 550px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.click-here {
    margin: 0px;
    color: rgba(61, 90, 67, 0.6);
}

.click-here:hover {
    color: var(--background-green);
}

.linkedin {
    min-width: 17px;
    width: 15%;
    margin-top: 0px;
    display: block;
}

.email {
    margin-top: 3px;
    min-width: 21px;
}

.contacts {
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 0px;
    grid-template-columns: 18% 28%;
    grid-column-gap: 0px;
    width: 100%;
/*    height: 100px;*/
}

.v-space {
    height: 50px;
    width: 100%;
}

.navbar {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background: rgba(61, 90, 67, 0);
    width: 100%;
    height: 50px;
    z-index: 3;
}

.nav {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 15px;
    color: #fff;
    font-size: 18px;
}


a {
    margin: 15px;
    color: #fff;
    text-decoration: none;
    font-family: Trebuchet MS, Arial, Helvetica, sans-serif 
}

a:hover {
    color: var(--dust-green);
}

p {
    font-size: 16px;
    color: #303E2B;
    text-decoration: none; 
    text-align: center;
    font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
}


h1 {
    font-family: DancingJungle, Trebuchet MS, Arial, Helvetica, sans-serif;
/*    font-family: DancingJungle;*/
    font-size: 130px;
    font-weight: normal;
    text-align: center;
    color: white;
    text-transform: uppercase;
/*    padding-top: 150px;*/
}


h2 {
    font-family: DancingJungle, Trebuchet MS, Arial, Helvetica, sans-serif;
    font-size: 80px;
    font-weight: normal;
    text-align: center;
    color: white;
    margin-top: 50px;
}

h3 {
    font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: normal;
    text-align: left;
    color: #303E2B;
    margin-bottom: 10px;
}

h4 {
    font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: normal;
    text-align: left;
    color: #303E2B;
    margin-bottom: 0px;
    margin-top: 0px;
}


h5 {
    font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: normal;
    text-align: center;
    color: #303E2B;
    margin-bottom: 0px;
    margin-top: 10px;
}

.project-roll {
    font-size: 14px;
    margin-top: 2px;
}

#chimp-logo {
    position: fixed;
    top: 10px;
    left: 15px;
    z-index: 4;
}

#logo {
    font-family: DancingJungle, Trebuchet MS, Arial, Helvetica, sans-serif;
    position: fixed;
    top: 10px;
    left: 10px;
    font-size: 18px; 
    margin-left: 10px;
    justify-content: left;
    color: white;
    z-index: 4;
    text-transform: uppercase;
}


html {
    scroll-behavior: smooth;
}

.scrolling-active {
    font-size: 18px;
    background-color: var(--background-green);
    background-image: url(../img/maze-black.png);
    box-shadow: 0 3px 1rem rgba(0, 0, 0, 1);
}
